body {
  background-color: #00A19D;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: solid;
  border-width: 20px;
  border-color: white;
  position: relative;
  padding: 2rem;
  border-radius: 50%;
  margin: 2rem auto 2rem auto;

}

.clock-face {
  position: relative;
  /* transform: translateY(-3px); */
}

.hand {
  background: #003638;
  width: 50%;
  position: absolute;
  margin-top: 16rem;
  margin-bottom: auto;
  transform-origin: 100%;
  transform: rotate(90deg);
   transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1,2.7,0.58,1);
}
.hour{
    height: 12px;
}
.minute{
    height: 8px;
}
.second
{
    height: 5px;
}
footer
{
  text-align: center;
  color: white;

}
